{% include 'partials/header.html' %}

<form action="{% url 'add' %}" method="post">
    {% csrf_token %}
    <label for="title">Title</label><br/>
    <input class="form-control" type="text" name="title" id="title"/>
    <br>
    <label for="text">Text</label><br/>
    <textarea class="form-control" name="text" id="text"></textarea>
    <br><br>
    <input class="btn btn-lg btn-primary" type="submit" value="Submit"/>
</form>

<br/>
<br/>

<a href="/todos">Go Back</a>

{% include 'partials/footer.html' %}